*.dll
*.exe
*.a
*.o
__pycache__
*.addr
*.dump
*.bin
*.har
example_dumper_out

*Dummy
subprojects/dumper_out
stacktraces/*.txt
responses/*.txt
config.ini
*.db
nimble.develop
nimble.paths
saves
subprojects/packagecache
onlineLogs

subprojects/goldberg_steam
subprojects/imgui-1.91.6
subprojects/webview-55b438dc11d0e46bc68526822380963ae9d362af

imgui.ini
