*.dll
*.exe
*.a
*.o
__pycache__
*.addr
*.dump
*.bin
*.har
example_dumper_out

*Dummy
subprojects/dumper_out
stacktraces/*.txt
responses/*.txt
config.ini
*.db
nimble.develop
nimble.paths
saves
subprojects/packagecache
onlineLogs

subprojects/goldberg_steam
subprojects/imgui-*
subprojects/curl-*
subprojects/webview-55b438dc11d0e46bc68526822380963ae9d362af
subprojects/dumper_out_cbt
subprojects/semba
subprojects/UnityPlayer
subprojects/UnityPlayer_0_2_1_20

imgui.ini

zeromod/bin
zeromod/obj
bundlemod/bin
bundlemod/obj

*.swp

/mods

install_out
