*.dll
*.exe
*.a
*.o
__pycache__
*.addr
*.dump
*.bin
*.har
example_dumper_out

*Dummy
subprojects/dumper_out
stacktraces/*.txt
responses/*.txt
config.ini
*.db
nimble.develop
nimble.paths
saves
subprojects/packagecache
onlineLogs

subprojects/goldberg_steam
subprojects/imgui-1.91.6
imgui.ini
