# path to the goldberg steam api emulator dll
goldbergPath=steam_api64.dll

# path to semba db (offline db)
sembaDbPath=semba.db

# path where the game stores the save files
savesDir=saves

# if set, dumps the unpacked gameassembly from program memory
#dumpGameAssembly=false

# path to texture mods location
modsDir=mods

# if set, ignores the offline mode and tries to connect to this semba standalone server
#sembaStandaloneUrl=http://127.0.0.1:5052

# if set, logs the name of the Unity addressables loaded by AddressablesImpl.LoadAssetAsync
#logAddressables=true

# key that opens the cheats menu, can be any key mentioned in:
# https://learn.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
#cheatsKey=VK_INSERT